<div>
  <%= image_tag @user.avatar.url(:thumb) %>
</div>

<h3> <%= @user.username %></h3>

<div class = "row cosmic girl-grid">
  <% @user.pins.each do |pin| %>
    <div class = "col-md-4 pin-item">
        <div class="panel panel-default pin">
          <div class="panel-body">
              <%= link_to image_tag(pin.pin_image.url(:medium)), pin %>
          </div>
            <div class="panel-footer">
              <p><strong><%= link_to pin.user.username, user_path(pin.user.username) %></strong></p>
              <p> <%= pin.description %></p>
              <% if pin.user == current_user %>

              <div> 
                <%= link_to 'Editar', edit_pin_path(pin) %> |
                <%= link_to 'Eliminar', pin, method: :delete, data: { confirm: 'Esta seguro?' } %>
              </div>
            <% end %>
          </div>
       </div>
     </div>
   <% end %>
</div>

<% if can? :create, Pin %>
  <%= link_to 'Nuevo Pin', new_pin_path, class:"btn btn-primary" %>
<% end %>